---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to manage access conflict monitors in ConductorOne.
When creating a `access_conflict` resource you must provide a `display_name`.

## Example Usage

{{ tffile "examples/resources/conductorone_access_conflict/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
