---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to configure an App instance in ConductorOne.
When creating an app you must provide a display name. Optionally, you can provide policies, owners, cost per seat, and a description.
If owners are not specified, the app will be owned by the user who created the resource.

## Example Usage

{{ tffile "examples/resources/conductorone_app/app.tf" }}

{{ .SchemaMarkdown | trimspace }}
