---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to configure an App instance in ConductorOne.
When creating an app you must provide a display name. Optionally, you can provide policies, cost per seat, and a description.

NOTE: To control appOwners you must use the `conductorone_app_owner` resource.

## Example Usage

{{ tffile "examples/resources/conductorone_app/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}