---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to create and configure an AppResource object in ConductorOne.
When creating an AppResource you must provide a display name, app_id and app_resource_type_id. Optionally, you can provide a description.

## Example Usage

{{ tffile "examples/resources/conductorone_app_resource/app_resource.tf" }}

{{ .SchemaMarkdown | trimspace }}