---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to create proxy bindings between source and destination entitlements.
In order to create a proxy binding, you must provide the `src_app_entitlement_id`, `src_app_id`, `dst_app_entitlement_id` and `dst_app_id`.

## Example Usage

{{ tffile "examples/resources/conductorone_app_entitlement_proxy_binding/app_entitlement_proxy_binding.tf" }}

{{ .SchemaMarkdown | trimspace }}
