---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to update an App Entitlement instance in ConductorOne.
This resource is unique in the sense that it only implements update and read. This mean you can only edit existing entitlements.
In order to edit an existing App Entitlement, you must provide the `id` and `app_id` of the entitlement you wish to edit.
You can optionally configure many fields on the App Entitlement like setting policies, and setting an alias. 

## Example Usage

{{ tffile "examples/resources/conductorone_app_entitlement/app_entitlement.tf" }}

{{ .SchemaMarkdown | trimspace }}
