---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to set App owners.
In order to set owners, you must provide the list of `user_ids` for the users you wish to set as owners.
You must also provide the `app_id` of the app you wish to add the owners to.
Note: The owners you set here will replace any existing owners for the app.

## Example Usage

{{ tffile "examples/resources/conductorone_app_owner/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}