---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to configure a Request Catalog instance in ConductorOne.
When creating a Request Catalog you must provide a display name. Optionally, you can configure if the catalog is published, visible to everyone, and provide a description. 
You can then configure exactly who should be able to see the catalog, and what entitlements should be requestable with the `catalog_visibility_bindings_resource` 
and `catalog_entitlement_bindings_resource` resources.

## Example Usage

{{ tffile "examples/resources/conductorone_catalog/catalog.tf" }}

{{ .SchemaMarkdown | trimspace }}
