---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to manage requestable entitlements for a specific request catalog in ConductorOne.
When creating a `catalog_requestable_entries` resource you must provide a `catalog_id`, and specify the `app_id` and `id` of at least one app entitlement.
The entitlements you define here will be requestable by users who have access to the specified catalog.

## Example Usage

{{ tffile "examples/resources/conductorone_catalog/catalog.tf" }}

{{ tffile "examples/resources/conductorone_catalog_requestable_entries/catalog_requestable_entries.tf" }}

{{ .SchemaMarkdown | trimspace }}
