---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to create a new Compliance Framework attribute.
When creating a Compliance Framework attribute you must provide a value. The value property is the name of the Compliance Framework attribute. This is the only property that can be set.

## Example Usage

{{ tffile "examples/resources/conductorone_compliance_framework/compliance_framework.tf" }}

{{ .SchemaMarkdown | trimspace }}