---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to configure a Connector Credential in ConductorOne.
It is used to associate a credential with a specific connector within an application, enabling secure integration.

When creating a connector credential resource, you must specify the associated app_id and connector_id.

## Example Usage

{{ tffile "examples/resources/conductorone_connector_credential/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}