---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to create and configure a request schema in ConductorOne.
When creating a policy you must provide a name and at least one field. 

## Example Usage

{{ tffile "examples/resources/conductorone_request_schema/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
