---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This resource allows you to create a new Risk Level attribute.
When creating a Risk Level attribute you must provide a value. The value property is the name of the Risk Level attribute. This is the only property that can be set.

## Example Usage

{{ tffile "examples/resources/conductorone_risk_level/risk_level.tf" }}

{{ .SchemaMarkdown | trimspace }}