---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The Access Profile datasource allows you to retrieve an Access Profile by specifying id in ConductorOne.

## Example Usage

{{ tffile "examples/data-sources/conductorone_access_profile/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}