---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The App datasource allows you to retrieve an App instance by `display_name` (case sensitive), or `id` in ConductorOne.

## Example Usage

{{ tffile "examples/data-sources/conductorone_app/app.tf" }}

{{ .SchemaMarkdown | trimspace }}