---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The App Entitlement datasource allows you to retrieve an App Entitlement by `alias` (case sensitive), or by an `id` and `app_id` pair in ConductorOne.

## Example Usage

{{ tffile "examples/data-sources/conductorone_app_entitlement/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}