---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The app resources datasource allows you to retrieve ConductorOne App Resources using the following search criteria:

* `app_id` - The ID of the app
* `app_user_ids` - The user IDs of the app
* `exclude_deleted_resource_bindings` - Exclude deleted resource bindings
* `exclude_resource_ids` - List of excluded resource IDs
* `exclude_resource_type_trait_ids` - List of Excluded resource type trait IDs
* `query` - Search query string
* `refs` - The ref fields
* `resource_ids` - List of resourceIDs
* `resource_type_ids` - List of resource type IDs
* `resource_type_trait_ids` - List of the resource type trait IDs

## Example Usage

{{ tffile "examples/data-sources/conductorone_app_resources/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}