---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This data source enables you to retrieve ConductorOne app entitlement automations using the following search criteria:

* `app_entitlement_id` - The ID of the app entitlement
* `app_id` - The ID of the app

## Example Usage

{{ tffile "examples/data-sources/conductorone_app_entitlement_automation/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}