---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The App Entitlement Automation datasource allows you to retrieve an App Entitlement Automation by `app_entitlement_id` and `app_id` in ConductorOne.

## Example Usage

{{ tffile "examples/data-sources/conductorone_app_entitlement_automation/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}