---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This data source enables you to retrieve the AWS External ID for your ConductorOne tenant to use with your AWS integration.

## Example Usage

{{ tffile "examples/data-sources/conductorone_aws_external_id/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}