---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This data source enables you to retrieve ConductorOne compliance frameworks using the following search criteria:

* `id` - The ID of the compliance framework attribute

## Example Usage

{{ tffile "examples/data-sources/conductorone_compliance_framework/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}