---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The Connector Credential datasource allows you to retrieve a Connector Credential by `specifying app_id`, `connector_id`, and `id` in ConductorOne.

## Example Usage

{{ tffile "examples/data-sources/conductorone_connector_credential/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}