---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This data source enables you to retrieve ConductorOne policies using the following search criteria:

* `display_name` - Filter by display name (case insensitive)
* `include_deleted` - Include deleted policies in results
* `policy_types` - List of policy types to filter by (e.g. "POLICY_TYPE_ACCESS_REQUEST")
* `query` - Search query string

## Example Usage

{{ tffile "examples/data-sources/conductorone_policy/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}