---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The Policy datasource allows you to retrieve a Policy instance by `display_name` or `id` in ConductorOne.

## Example Usage

{{ tffile "examples/data-sources/conductorone_policy/policy.tf" }}

{{ .SchemaMarkdown | trimspace }}