---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The Risk Level datasource allows you to retrieve a Risk Level Attribute by `value` (case insensitive), or `id` in ConductorOne.
The `value` of a Risk Level Attribute is the name of the Attribute in ConductorOne.

## Example Usage

{{ tffile "examples/data-sources/conductorone_risk_level/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}