---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This data source enables you to retrieve ConductorOne risk levels using the following search criteria:

* `id` - The ID of the risk level attribute

## Example Usage

{{ tffile "examples/data-sources/conductorone_risk_level/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}