---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The User datasource allows you to retrieve a User by `email` or `id` in ConductorOne.

## Example Usage

{{ tffile "examples/data-sources/conductorone_user/user.tf" }}

{{ .SchemaMarkdown | trimspace }}