---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

The Webhook datasource allows you to retrieve a Webhook by `display_name` (case insensitive), or `id` in ConductorOne.

## Example Usage

{{ tffile "examples/data-sources/conductorone_webhook/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}